In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [2]:
df=pd.read_csv('spam.csv')

In [3]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [4]:
df.drop('Unnamed: 3',axis=1,inplace=True)
df.drop('Unnamed: 4',axis=1,inplace=True)
df.drop('Unnamed: 2',axis=1,inplace=True)

In [5]:
df.head()

     v1                                                 v2 Unnamed: 2
0   ham  Go until jurong point, crazy.. Available only ...        NaN
1   ham                      Ok lar... Joking wif u oni...        NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3   ham  U dun say so early hor... U c already then say...        NaN
4   ham  Nah I don't think he goes to usf, he lives aro...        NaN

In [6]:
df.rename(columns={'v1':'result','v2':'text'},inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   result      5572 non-null   object
 1   text        5572 non-null   object
 2   Unnamed: 2  50 non-null     object
dtypes: object(3)
memory usage: 130.7+ KB

In [8]:
df.head()

  result                                               text Unnamed: 2
0    ham  Go until jurong point, crazy.. Available only ...        NaN
1    ham                      Ok lar... Joking wif u oni...        NaN
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3    ham  U dun say so early hor... U c already then say...        NaN
4    ham  Nah I don't think he goes to usf, he lives aro...        NaN

In [9]:
df.shape

(5572, 3)

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.shape

(5169, 3)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv=CountVectorizer()

In [ ]:
x=df['text']
y=df['result']

In [ ]:
x=cv.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
model=MultinomialNB()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
result=(model.score(x_test,y_test)*100)

In [ ]:
import pickle

In [ ]:
pickle.dump(model,open("spam.pkl","wb"))
pickle.dump(cv,open("vec.pkl","wb"))
clf=pickle.load(open("spam.pkl","rb"))

In [ ]:
clf

In [ ]:
msg=""
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)